

.pay-button
  width: 100%
  margin-top: 40px
  font-size: 20px
  text-align: center;
  padding: 3px
  background-color: #00C853
  // font-weight: 300
  color: white


.detail-title-wrapper
  width: 100%
  border-bottom: 1px solid #e0e0e0
  margin-bottom: 40px
  display: flex;

  .detail-title
    font-size: 20px
    font-weight: 300
    align-self: center;
    flex-grow: 1

  .db-wrapper
    height: 48px
    width: 48px
    margin-left: 10px



    .add-detail
      display: flex;
      justify-content: center;
      height: 100%
      width: 100%
      border-radius: 24px
      background-color: transparent;


      & i
        align-self: center;


.discount-input
  width: 100%

  .input-container
    flex: none;
    width: calc(100% - 30px)


.discount-select
  position: absolute;
  width: 26px
  height: 26px
  bottom: 10px
  right: 10px
  text-align: center;
  cursor: pointer;
  border-radius: 4px
  display: flex;
  justify-content: center;

  .discount-icon
    font-size: 18px;
    align-self: center;
