.customers-new

  .avatar-wrapper
    height: 100%
    width: 100%
    padding-top: 28px
    display: flex;
    justify-content: center;

    .avatar-img
      // align-self: center;
      height: 95px
      width: 95px
