.provider-empty
  display: flex
  padding: 15px 15px
  font-size: 15px
  font-weight: 300;
  color: #BDBDBD
  height: 58px
  align-items: center;


.se-section-div
  height: 100%
  padding: 0px 15px

  .se-section
    margin-top: 20px
    border-bottom: 1px solid #eee


    .label
      font-size: 13px
      font-weight: 300
      color: #757575

    .cinfo-div
      display: flex
      padding: 5px 0

      img
        height: 38px
        width: 38px
        border-radius: 50%
        align-self: center;

      .cinfo
        padding-left: 15px
        align-self: center;

    .info
      padding: 5px 0 0
      font-size: 16px
      font-weight: 300

    .info-sm
      font-size: 14px
      font-weight: 300
      color: #757575


    .info-none
      padding: 5px 0 0
      font-size: 14px
      font-weight: 300
      color: #BDBDBD
