template(name='CustomerShow')
  div(class='show-tool')
    +PaperButton classes="back-button card-shrink-action" raise=0 rippleOn=true submit=false
      i(class="material-icons")
        | arrow_back
