.yield-card
  width: 350px
  margin: 0 8px 16px
  max-width: calc(100% - 16px);
  // height: 485px

  // .content
  //   width: 100%
  //   height: 100%

  .top
    padding: 16px 15px 0
    background-color: #e0e0e0
    display: flex;

    img
      flex-shrink: 0
      width: 56px
      height: 56px
      border-radius: 50%

    .info-div
      flex-grow: 1
      max-width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 10px

      .main-title
        font-size: 18px
        max-width: 100%
        align-self: flex-start;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

      .sub-title
        display: flex
        padding-left: 2px
        font-size: 12px
        max-width: 100%
        color: #757575
        font-weight: 300
        align-self: flex-start;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;


  .middle
    background-color: #e0e0e0
    padding: 10px 16px
    display: flex;

    .amount
      align-self: center;
      flex-grow: 1
      font-size: 30px
      font-weight: 300

      span
        font-size: 12px
        font-weight: 300

    .contact
      padding: 5px 0

      .label
        font-size: 10px
        font-weight: 300
        color: #757575

      .info
        font-size: 14px
        font-weight: 300


  .bar
    background-color: #e0e0e0 !important

  .tpanel
    background-color: white
    padding: 16px 0

    .title
      padding-left: 16px
      font-size: 14px
      color: #757575

    .e-div
      padding: 10px 16px
      // border-bottom: 1px solid #eee

      .event-date
        font-size: 9px
        font-weight: 300
        color: #BDBDBD
        // text-align: right;

      .event-info
        display: flex;

        img
          flex-shrink: 0
          width: 38px
          height: 38px
          border-radius: 50%

        .einfo-div
          padding-left: 16px
          flex-grow: 1

          .main-title
            font-size: 14px
            max-width: 100%
            font-weight: 300
            align-self: flex-start;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

          .sub-title
            padding-left: 2px
            font-size: 11px
            max-width: 100%
            color: #757575
            font-weight: 300
            align-self: flex-start;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

        .event-amount
          font-size: 25px
          padding-right: 5px
          font-weight: 300
