template(name='organizations.new')
  //- name
  //- contact email
  //- Add Address button
  //- Add Telephone button
  form(class="js-organization-new-form")
  
    div(class='organization-top')
      +PaperButton classes="save-icon-div" raise=0 rippleOn=true submit=false
        i(class="material-icons")
          | check
          
      +PaperButton classes="remove-icon-div js-hide-new js-hide-right" raise=0 rippleOn=true submit=false
        i(class="material-icons")
          | clear
          
      div(class='input-area')
        div(class='organ-input-div organ-name-div')
          +PaperInput type="text" name="name" label="Organization Name" focusColor="darkblue" size='size-medium'
        div(class='organ-input-div organ-email-div')
          +PaperInput type="email" name="email" label="Contact Email" focusColor="darkblue"
          
        
    
      
    div(class='organization-bottom')
      div(class='input-area')
        div(class="organ-input-div add-contact-info")
          +telephone.add
          
        div(class="organ-input-div add-contact-info")
          +address.add
        
      
        
      
