.organization-new
  max-width: 800px
  margin: auto;

.organ-input-div
  margin-bottom: 5px
  padding: 0 20px

.organ-email-div
  max-width: 320px


.new-organ-title
  position: absolute;
  height: 212px
  display: flex;
  left: 0px
  top: 0
  font-size: 18px
  width: 100%
  background-color: #f7f7f7
  padding-left: 80px
  box-sizing: border-box;

  & .save-icon-div
    position: absolute;
    right: 0
    top: 0
    height: 56px
    width: 56px
    background-color: transparent;
    border-radius: 50%
    display: flex;
    justify-content: center;

    & i
      align-self: center;
