.input-area
  max-width: 800px
  margin: auto;

.organization-top
  position: relative;
  height: 212px
  padding-top: 56px
  width: 100%
  background-color: #eee
  box-sizing: border-box;


.organization-bottom
  position: relative;

.organ-input-div
  margin-bottom: 5px
  padding: 0 20px

.organ-email-div
  max-width: 320px


.save-icon-div
  position: absolute;
  right: 0
  top: 0
  height: 56px
  width: 56px
  background-color: transparent;
  border-radius: 50%
  display: flex;
  justify-content: center;

  & i
    align-self: center;
