
.cust-card
  width: 390px
  margin: 0 8px 16px
  height: 434px
  max-width: calc(100% - 16px);

  .content
    width: 100%
    height: 100%

    .top
      background-color: #eee
      width: 100%
      height: 80px
      display: flex
      padding: 16px 60px 16px 16px

      img
        flex-shrink: 0
        width: 48px
        height: 48px
        border-radius: 50%

      .info-div
        flex-grow: 1
        max-width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .main-title
          padding-left: 10px
          font-size: 18px
          max-width: 100%
          align-self: flex-start;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

        .sub-title
          padding-left: 10px
          font-size: 12px
          max-width: 100%
          color: #757575
          font-weight: 300
          align-self: flex-start;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;


    .middle
      width: 100%
      // min-height: 380px

      .contact-title
        width: 100%
        height: 48px
        background-color: #eee
        padding-left: 16px
        font-size: 16px
        font-weight: 300
        display: table
        border-radius: 0

        .table
          display: table-cell;
          vertical-align: middle;


      .contact-div
        height: 100%
        padding: 0px 15px 20px

        .contact
          margin-top: 20px
          border-bottom: 1px solid #eee


          .label
            font-size: 13px
            font-weight: 300
            color: #757575

          .info
            padding: 5px 0 0
            font-size: 16px
            font-weight: 300

          .info-none
            padding: 5px 0 0
            font-size: 14px
            font-weight: 300
            color: #BDBDBD


    .bottom
      width: 100%;
      height: 55px
      padding: 0 8px
      display: flex;



.add-info
  display: flex


.more-b
  background-color: transparent;
  display: flex;
  justify-content: center;

  i
    align-self: center;



.nav-wrapper
  display: flex;

  .nav
    align-self: center;
    height: 30px
    width: 30px
    display: flex;
    cursor: pointer;
    flex-shrink: 0
    user-select: none

    &.disabled
      color: #eee

    &.left
      justify-content: flex-start;
    &.right
      justify-content: flex-end;

    i
      align-self: center;

    // &.left
    //   padding-right: 10px
    //
    // &.right
    //   padding-left: 10px

  .nav-info-wrapper
    overflow: hidden;
    flex-grow: 1

    .nav-info-mover
      flex-grow: 1
      display: flex

      .nav-info
        width: 100%
        flex-shrink: 0
