.contact-div
  height: 100%
  padding: 0px 15px

  .contact
    margin-top: 20px
    border-bottom: 1px solid #eee


    .label
      font-size: 13px
      font-weight: 300
      color: #757575

    .info
      padding: 5px 0 0
      font-size: 16px
      font-weight: 300

    .info-none
      padding: 5px 0 0
      font-size: 14px
      font-weight: 300
      color: #BDBDBD


.nav-wrapper
  display: flex;

  .nav
    align-self: center;
    height: 30px
    width: 30px
    display: flex;
    cursor: pointer;
    flex-shrink: 0
    user-select: none

    &.disabled
      color: #eee

    &.left
      justify-content: flex-start;
    &.right
      justify-content: flex-end;

    i
      align-self: center;

    // &.left
    //   padding-right: 10px
    //
    // &.right
    //   padding-left: 10px

  .nav-info-wrapper
    overflow: hidden;
    flex-grow: 1

    .nav-info-mover
      flex-grow: 1
      display: flex

      .nav-info
        width: 100%
        flex-shrink: 0
