template(name='CustomerCard')

//- Round Picture
//- First Name 
//- if has Last Name : Last Name 
//- if has company :  Company
//- Stats 
  //- 5 Most Bought Products (Bar Graph)
  //- Last 5 Sells ( Maybe )
