
#paper-right-panel
  position: fixed;
  top: 0px;
  height: 100%
  right: -35%;
  width: 35%
  border-left: none
  z-index: 2;
  background: white;
  overflow-x: hidden;
  box-sizing: border-box;

  @media(min-width: 1024px)
    border-left: 1px solid lightgray
