
#paper-right-panel
  position: fixed;
  top: 0px;
  height: 100%
  right: -35%;
  width: 35%
  border-left: none
  z-index: 2;
  background: white;
  overflow-x: hidden;
  box-sizing: border-box;

  &:focus
    outline: none

  @media(min-width: 1024px)
    border-left: 1px solid lightgray


.focus-color-top
  background-color: #eee

.focus-color-bottom
  background-color: #fafafa

.unfocus-color-top
  background-color: #E0E0E0

.unfocus-color-bottom
  background-color: #F5F5F5
