.ousers-new

  & .ou-title
    margin-top: 30px
    font-size: 18px
    font-weight: 300

  & .ou-label
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    padding-top: 25px;
    color: #424242
    font-size: 16px;
    cursor: pointer;

  & .ou-info
    font-size: 13px
    color: #9E9E9E

  & .ou-toggle-div
    padding-top: 25px
    width: 100%;
    height: 100%;
    display: flex;

    & .ou-toggle
      margin-left: auto;

  & .js-toggle-grid
    cursor: pointer;
