div(class="paper-checkbox-container")
  
  div(class="js-checkbox checkbox #{classes}" style="border-color: #{color.get}")
    div(class="checkbox-mark #{checked}" style="background-color: #{fcolor}")
      i(class="material-icons") check
