.paper-drawer
  position: fixed
  left: 0
  top: 0
  bottom: 0
  background-color: white
  width: $drawerWidth
  box-shadow: 1px 0 13px 0px rgba(0, 0, 0, 0.5);
  overflow-y: auto
  overflow-x: hidden
  z-index: 1


.paper-main
  z-index: 0
  position: absolute;
  right: 0
  left: 0
  top: 0
  bottom: 0
  background-color: lightgrey

.move-foward
  z-index: 1

.move-back
  z-index: 0

#scrim
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0, 0, 0, 0.5)
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  transition-property: opacity, visibility
  transition-duration: 0.2s
  transition-delay: 0.1s

  &.show
    visibility: visible;
    opacity: 1

  &.hide
    visibility: hidden;
    opacity: 0
