.drawer-wrapper
  min-height: 100%
  padding-bottom: 96px
  position: relative
  box-sizing: border-box;

.drawer-top
  position: relative;
  width: 100%
  height: 170px
  border-bottom: 1px solid lightgrey

.drawer-button
  border-top: 1px solid lightgrey
  height: 80px
  width: 100%
  background-color: white
  position: absolute;
  bottom: 0

.avatar-div
  padding: 10px 10px

.avatar-img
  width: 65px
  border-radius: 50%

.name-div
  padding: 25px 10px 0

.name-h
  margin: 8px 0
  color: black
  font-size: 16px
  font-weight: 300

.email-h
  @extend .name-h
  font-size: 14px

.logout-icon
  position: absolute;
  bottom: 0
  right: 0
  padding: 0 5px 0px 0


.drawer-middle
  padding: 10px 0

.drawer-item
  font-size: 16px
  font-weight: 400

.organ-name
  font-size: 15px
  padding-left: 20px

.collection-name
  font-size: 14px
  padding-left: 30px

.item-content a
  display: inline-block;
  text-decoration: none;
  color: inherit;
  width: 100%
  padding: 10px 10px
  box-sizing: border-box;

  &:visited
    color: inherit;
    text-decoration: none
