template(name="selectList")
  div(class="list")
    div(class="header elevation-1")

      div(class="title")
        | #{title}
      
      div(class="search-bar")
        i(class="material-icons") search
        i(class="material-icons") camera_alt
        
    
    div(class="items")
