template(name="root")
  +PaperDrawerPanel
    +PaperDrawer
    
    +PaperDrawerMain
      +PaperHeaderPanel
        +PaperHeader
        
        +PaperHeaderMain
          
          div(style="height: 5000px; width: 300px; background-color: white; margin: auto; border: 1px solid lightgrey")
    
      
        
