
.inventories-new
  .product-info
    padding-top: 5px
    padding-bottom: 30px
    display: flex;
    // justify-content: center;

    .p-nsk
      align-self: center;
      padding-left: 10px
      max-width: calc(100% - 64px);


      .p-name
        font-size: 19px
        font-weight: 300
        color: #737373
        line-height: 17px

      .p-description
        color: #9E9E9E
        font-weight: 300
        width: 100%
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

      span
        display: inline-block;
        font-size: 14px
        white-space: nowrap;
        font-weight: 300;
        color: #737373


      span.p-sku
        display: inline-block;
        font-size: 10px
        font-weight: 300;
        color: #BDBDBD

    img
      width: 64px
      height: 64px
      border-radius: 50%
      align-self: center;


.ing-subtitle
  color: black
  font-weight: 300
  font-size: 18px;


.yield-b-wrapper
  margin: 15px 0 20px;

  .yield-b
    width: 100%
    background-color: transparent;


.y-divider
  display: flex;
  border-bottom: 1px solid #E0E0E0;


  .y-subtitle
    font-weight: 300;
    color: #757575;

  .icon-div
    align-self: center;
    margin-left: auto;
    height: 100%
    display: flex;
    justify-content: center;

    & i
      color: #00E676
      align-self: center;


.ing-info
  display: flex;



  & img
    width: 48px
    height: 48px
    border-radius: 50%
    align-self: center;
    flex-shrink: 0

  .ing-nsk
    align-self: center;
    font-weight: 300
    padding-left: 10px

    .ing-name
      font-size: 17px
      line-height: 17px
      color: #737373

    .ing-a
      font-size: 14px
      color: #9E9E9E

      & span
        font-size: 10px
        color: #BDBDBD


.yield-section
  padding: 10px 0 0;
  font-weight: 300;
  display: flex;

  .yield-sub-sec
    padding-right: 5px
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.ml
      width: 50%
      // max-width: 142px
      padding-left: 5px
      margin-left: auto;

  .yield-subtitle
    font-size: 11px
    padding-top: 5px
    color: #BDBDBD

  .yield-name
    font-size: 17px
    color: #737373
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  .yield-amount
    font-size: 17px
    color: #737373

.yield-input-sec
  display: flex;
  padding: 5px 0 20px

.yield-max-div
  flex-grow: 1
  padding-right: 5px
  align-self: flex-end;

  .max-b
    max-width: 200px
    padding: 5px 10px
    width: 100%
    text-align: center;
    background-color: white;

.yield-input-div
  align-self: flex-end;
  flex-grow: 0
  padding-left: 5px
  width: 50%
  // max-width: 142px
