.new-action
  position: fixed;
  width: 56px
  height: 56px
  border-radius: 50%
  bottom: 15px;
  right: 15px;
  z-index: 2;
  opacity: 1
  background-color: #009688;

  @media (min-width: 1024px) {
    width: 60px
    height: 60px
    bottom: 30px;
    right: 30px;
  }

.plus-icon-div
  position: absolute;
  top: 0
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  z-index: -1
  @media (min-width: 1024px) {
    width: 60px
    height: 60px
  }

  .plus-icon
    align-self: center;
    color: white
    cursor: pointer;
    @media (min-width: 1024px) {
      font-size: 28px
    }


.card-wrapper
  display: flex
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;



.chart-div
  padding: 15px 15px 5px 5px;
  display: flex;
  flex-direction: column;
