template(name="organizations.index")
  div(class="organizations")
    +PaperCard elevation=2 classes="organizations new-action"
      div(class='card-expand-action plus-icon-div')
        i(class="material-icons plus-icon")
          | add
  
  
