template(name="organizations.index")

  +PaperRightPanel
    div(class='js-show-right')
    div(class="js-right-content")
      if expanded.get
        +organizations.new
    
  
  +PaperButton classes="new-action js-show-new" elevation=2 rippleOn='true' rippleFill='white'
    div(class='plus-icon-div')
      i(class="material-icons plus-icon")
        | add
  
  div(class="organizations")
    div(style="height: 5000px; width: 60%; margin: auto; background-color: white ")
  
    
      
  
  
