.organizations

  &.new-action
    position: absolute;
    width: 56px
    height: 56px
    border-radius: 50%
    top: 184px;
    z-index: 1;
    right: 20px;

.plus-icon-div
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;


.plus-icon
  align-self: center;
  color: darkblue
