template(name="organizations.index")

  div(class='organizations-new-div')
    if expanded.get
      +organizations.new
    
  
  +PaperButton classes="new-action js-show-new" raise=2 rippleOn='true'   
    div(class='plus-icon-div')
      i(class="material-icons plus-icon")
        | add
  
  div(class="organizations")
  
    div(class='shade')

      
      
  
  
