template(name="organizations.index")
  div(class="organizations")
    //- if expanded.get
    //-   div(class='organizations-new-div')
    //-     +organizations.new
        
    +PaperButton classes="new-action" raise=2 rippleOn='true'   
      div(class='plus-icon-div')
        i(class="material-icons plus-icon")
          | add
      
      
  
  
