
paper-header-panel
  width: 100%
  height: 100%
  overflow: auto

#paper-header
  position: fixed
  width: 100%
  height: 212px
  background-color: #eee
  left: 0
  top: 0
  z-index: 1

#header-small
  position: relative
  width: 100%
  height: 64px
  z-index: 1


#header-large
  position: relative
  width: 100%
  height: 148px



#paper-header-main
  padding-top: 212px
  position: relative;
  box-sizing: border-box;
  min-height: 100vh
  background-color: white
  opacity: 0
  overflow-x: hidden;



.header-content
  position: absolute;
  left: 0
  top: 0
  height: 100%
  width: 100%
  z-index: 2

.header-main.content
  padding: 15px 15px
