
.paper-header-panel
  width: 100%
  max-height: 100vh
  overflow: auto

.paper-header
  position: absolute;
  width: 100%
  height: 212px
  background-color: #fff
  left: 0
  top: 0
  z-index: 1

.header-small
  position: relative
  width: 100%
  height: 64px
  z-index: 1


.header-large
  position: relative
  width: 100%
  height: 148px



.paper-header-main
  padding-top: 212px
  position: relative;
  box-sizing: border-box;
  min-height: 100vh
  background-color: #fafafa
  overflow-x: hidden;



.header-content
  position: absolute;
  left: 0
  bottom: 0
  height: 100%
  width: 100%
  z-index: 2

  .title
    position: absolute;
    bottom: 34px
    z-index: -1
    width: calc(100% - 98px);
    margin-left: 64px
    transition: .2s margin-left ease-in-out

    @media (max-width:1023px) and (min-width:768px){
      margin-left: 108px
    }

    & h1
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 32px
      font-weight: 400;



  .sm-title
    display: none;
    position: absolute;
    bottom: 34px
    z-index: -1
    transform: translate3d(-20px, 46px, 0) scale(.7,.7);
    margin-left: 64px
    transition: .2s margin-left ease-in-out

    @media (max-width:1023px) and (min-width:768px){
      margin-left: 108px
      transform: translate3d(-65px, 46px, 0) scale(.7,.7);
    }

    & h1
      font-size: 32px
      font-weight: 400;





.header-main.content
  padding: 15px 8px 0
