
paper-header-panel
  width: 100%
  height: 100%
  overflow: auto

#paper-header
  position: fixed
  width: 100%
  height: 212px
  background-color: white
  left: 0
  top: 0
  z-index: 1

#header-small
  position: relative
  width: 100%
  height: 64px
  z-index: 1


#header-large
  position: relative
  width: 100%
  height: 148px
  background-color: white



#paper-header-main
  padding-top: 212px


.header-content
  position: absolute;
  left: 0
  top: 0
  height: 100%
  width: 100%
  z-index: 2

.header-main.content
  position: relative;
  padding: 10px
