
.paper-button
  position: relative
  perspective: 1px;
  border: none
  outline: none
  background-color: white;
  border-radius: 3px
  overflow: hidden
  color: black
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;


  & input
    display: none

  &:active
    color: black


.button-ripple
  z-index: -1
