
.paper-button
  position: relative
  border: none
  outline: none
  background-color: white;
  border-radius: 3px
  overflow: hidden
  color: black
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;

  & input
    display: none

  &:active
    color: black
