template(name='ingredients.index')
  +PaperRightPanel callbacks=rightCallbacks
    div(class='js-show-right')
    div(class="js-right-content")
      if rightShown.get
        +Template.dynamic template=rightTemplate.get data=rightData.get
    

  +PaperButton classes="new-action js-show-new" elevation=2 rippleOn='true' rippleFill='white'
    div(class='plus-icon-div' data-template='ingredientsNew')
      i(class="material-icons plus-icon")
        | add

  if subscriptionsReady
    div(class='ingredients main-content')
      div(class='card-wrapper')
        each ingredient in ingredients
          +IngredientCard ingredient=ingredient
            
