.button-wrapper
  background-color: transparent;
  margin: 22px -8px 0
  padding: 4px 8px
  border-radius: 4px
  z-index: 1


.add-telephone-b
  display: flex;
  min-width: 110px
  background-color: transparent;
  justify-content: space-between;

  & .text-div
    align-self: center;
    color: #737373
    font-weight: 300

  & .icon-div
    align-self: center;
    display: flex;
    justify-content: center;

    & .icon
      color: #00E676
      align-self: center;


.remove-telephone-b
  display: flex;
  background-color: transparent;
  justify-content: center;
  min-width: 24px
  padding-bottom: 4px

  & .icon-div
    align-self: flex-end;
    display: flex;
    justify-content: center;

    & .icon
      color: #FF3D00
      margin-left: 0px
      align-self: center;

.contact-single
  overflow: hidden;

.contact-div
  height: 0
  overflow: hidden;


.remove-address-b
  display: flex;
  justify-content: center;
  background-color: transparent;
  min-width: 24px

  & .icon-div
    padding-top: 30px;
    align-self: center;
    display: flex;
    justify-content: center;

    & .icon
      color: #FF3D00
      margin-left: 0px
      align-self: center;
