template(name="telephone.add")
  div(class='button-wrapper')
    +PaperButton classes="add-contact-info-b js-add-telephone-b" raise=false rippleOn=true submit=false 
      div(class="text-div")
        | Telephone
      div(class='icon-button')
        i(class="material-icons")
          | #{iconType.get}
          
  div(class='contact-info-inputs')
    div(class='contact-info-input-wrapper')
      div(class='grid-wrapper')
        div(class="grid-column col-4" style='padding-left: 0')      
          +PaperInput type="text" name="address_name" labelFloat='false' label="Name" focusColor="darkblue"
        
        div(class="grid-column col-8")
          +PaperInput type="text" name="number" label="Number" focusColor="darkblue" 
        
  
