paper-card
  display: block;
  height: 100%
  width: 100%

.paper-card
  position: relative;
  border-radius: 3px
  width: 100%
  height: 100%
  background-color: white
  box-sizing: border-box;
  transform-style: preserve-3d

.card-ripple
  z-index: -1



.card-content
  z-index: 1
  width: 100%
  height: 100%
  background-color: transparent;

.card-ghost
  @extend .paper-card
  background-color: transparent
  height: 100%
