paper-card
  display: block;

.paper-card
  position: relative;
  border-radius: 3px
  margin: auto
  width: 100%
  min-height: 200px
  background-color: white
  margin-bottom: 15px
  overflow: hidden;
  box-sizing: border-box;
  transform-style: preserve-3d

.card-ripple
  z-index: -1



.card-content
  z-index: 1
  width: 100%
  height: 100%
  background-color: transparent;

.card-ghost
  @extend .paper-card
  background-color: transparent
  height: 100%
