paper-card
  div(class="card-ghost" style='display: none') 
  div(class="elevation-{{elevation}} paper-card")
    +PaperRipple fill='#eeeeee' classes='card-ripple'
    .card-content
      +Template.contentBlock
    
   

  
