
.b-change-wrapper
  display: flex
  justify-content: center;
  width: 100%
  height: 100%;
  padding-top: 15px


  .b-change
    background-color: #FFF
    align-self: center;
    padding: 5px 10px
    width: 100%
    text-align: center;
    font-size: 15px
    font-weight: 300

.event-box
  overflow: hidden;
  padding-bottom: 8px

  .e-title
    font-size: 16px;
    margin-top: 25px;
    font-weight: 300;
    color: black;
    -webkit-font-smoothing: antialiased;

.event-div
  overflow: hidden;
  margin-top: 10px


.u-toggle-div
  padding-top: 38px
  width: 100%;
  height: 100%;
  display: flex;

  .ou-toggle
    margin-left: auto;
