@import "variables"
@import "sidebar"
@import "appbar"


body
  background-color: bodyColor

.disable-scroll
  @media (max-width: screen-lg) {
    overflow: hidden;
  }

.main
  width: 100%
  height: 100%
  padding-top: appbarHeight
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  transition-property: transform, padding-left
  transition-duration: 0.2s
  transition-delay: 0.1s

  @media (min-width: screen-lg) {
    padding-left: sideBarWidth
  }


.sub-main
  width: 100%
  max-width: subMainMaxWidth

  @media (min-width: sideBarWidth + subMainMaxWidth) {
    margin-left: calc(50% - 580px)
  }


.index-item
  background-color: primColor
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4)
  width: 100%
  // max-width: 600px
  min-height: 200px
  border-radius: 2px
  margin-top: 10px
