
.appbar
  z-index: top
  width: 100%
  overflow: hidden;
  height: appbarHeight
  background-color: primColor
  padding-left: 30px
  position: fixed
  top: 0
  box-shadow: 0 1px 7px 0px rgba(100,100,100,0.5)


.appmenu-b
  position: fixed;
  border: none
  box-shadow: none
  outline: none
  height: appbarHeight
  background-color: transparent;
  padding: 0
  left: 26px
  opacity: 1
  z-index: top
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  transition-property: transform, opacity
  transition-duration: .2s
  transition-delay: 0.1s

  & i
    font-size: 24px

  @media (min-width: screen-md) {
    opacity: 0
  }

.appbar-title
  display: inline-block;
  font-size: 18px
  line-height: appbarHeight
  white-space: nowrap;
  position: fixed;
  left: 65px;
  top: 0

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  transition-property: transform, left
  transition-duration: 0.2s
  transition-delay: 0.1s

  @media (min-width: screen-md) {
    left: sideBarWidth + 25
  }

.appbar-link
  color: fontColor
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: sideBarWidth

  &:hover
    text-decoration: none
    color: fontColor

  &:focus
    text-decoration: none
    color: fontColor
    outline: none

  &:visited
    text-decoration: none
    color: fontColor
