avatarImgWidth = 65px
sidebarTopHeight = 170px
appbarHeight = 64px

.main
  position: absolute;
  width: 100%
  height: 100%

.sidebar
  border: 1px solid bodyColor
  z-index: top
  width: sideBarWidth
  background-color: backColor
  position: absolute
  min-height: 100%
  top: 0
  left: 0

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  transition-property: transform,left
  transition-duration: 0.2s
  transition-delay: 0.1s

.sidebar-wrapper
  min-height: 100%
  padding-bottom: 96px

.sidebar-upper
  width: 100%
  height: sidebarTopHeight
  border-bottom: 1px solid bodyColor

.avatar-div
  padding: 10px 10px

.avatar-img
  width: avatarImgWidth
  border-radius: 50%

.name-div
  padding: 25px 10px 0

.name-h
  color: fontColor
  font-size: 16px

.email-h
  @extend .name-h
  font-size: 14px

.sidebar-menu
  width: 100%
  padding: 5px 0 10px

.menu-ul
  list-style-type: none
  padding: 0
  margin: 0

  & li
    width: 100%
    padding: 0 0 0 12px
    margin: 10px 0 0

.menu-link
  font-size: 17px
  color: fontColor

  &:hover
    text-decoration: none
    color: fontColor

  &:focus
    text-decoration: none
    color: fontColor
    outline: none

  &:visited
    text-decoration: none
    color: fontColor

.sidebar-organ
  @extend .sidebar-menu
  border-top: 1px solid bodyColor
  margin-top: 10px

.organ-ul
  @extend .menu-ul

.suborgan-ul
  @extend .menu-ul
  padding: 0 0 0 10px

.sub-link
  @extend .menu-link
  font-size: 15px

.sidebar-lower
  border-top: 1px solid bodyColor
  height: (sidebarTopHeight/2)
  width: 100%
  background-color: backColor
  position: absolute;
  bottom: 0

.hideSidebar
  transform: translateX(sideBarWidth * -1);

.mask
  position: absolute;

.mask-off
  height: 0
  width: 0
  opacity: 0

.mask-on
  min-height: 100%
  width: 100%
  background-color: black
  opacity: .4

.showSidebar
  transform: translateX(0);


.appbar
  width: 100%
  height: appbarHeight
  background-color: backColor
  padding-left: 30px

.appmenu-b
  float: left;
  border: none
  box-shadow: none
  outline: none
  height: appbarHeight
  background-color: backColor
  padding: 0

  & i
    font-size: 20px

.appbar-title
  display: inline-block;
  padding-left: 22px
  padding-top: (appbarHeight/2) - 15px
  font-size: 20px
  width: 90%
  height: appbarHeight
