
.sidebar
  z-index: top +1
  width: sideBarWidth
  background-color: backColor
  position: fixed
  top: 0
  left: 0
  bottom: 0
  overflow-y: auto;
  border: 1px solid primColor
  overflow-x: hidden;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  transition-property: transform,left
  transition-duration: 0.2s
  transition-delay: 0.1s



.sidebar-wrapper
  min-height: 100%
  padding-bottom: 96px
  position: relative

.sidebar-upper
  width: 100%
  height: sidebarTopHeight
  border-bottom: 1px solid bodyColor

.avatar-div
  padding: 10px 10px

.avatar-img
  width: avatarImgWidth
  border-radius: 50%

.name-div
  padding: 25px 10px 0

.name-h
  color: fontColor
  font-size: 16px

.email-h
  @extend .name-h
  font-size: 14px

.sidebar-menu
  width: 100%
  padding: 5px 0 10px

.menu-ul
  list-style-type: none
  padding: 0
  margin: 0

  & li
    width: 100%
    padding: 0 12px
    margin: 10px 0 0

.menu-link
  font-size: 17px
  color: fontColor
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: sideBarWidth
  display: block;

  &:hover
    text-decoration: none
    color: fontColor

  &:focus
    text-decoration: none
    color: fontColor
    outline: none

  &:visited
    text-decoration: none
    color: fontColor

.sidebar-organ
  @extend .sidebar-menu
  border-top: 1px solid bodyColor
  margin-top: 10px

.organ-ul
  @extend .menu-ul

.suborgan-ul
  @extend .menu-ul
  padding: 0 0 0 10px

.sub-link
  @extend .menu-link
  font-size: 15px

.sidebar-lower
  border-top: 1px solid bodyColor
  height: 80px
  width: 100%
  background-color: backColor
  position: absolute;
  bottom: 0

.showSidebar
  transform: translateX(0);
  @media (max-width: screen-md) {
    box-shadow: 1px 0 13px 0px rgba(0, 0, 0, 0.5);
  }


.hideSidebar
  transform: translateX(sideBarWidth * -1)
  box-shadow: none

  @media (min-width: screen-md) {
    transform: translateX(0)
  }

.hide
  visibility: hidden

.mask
  z-index: top
  position: fixed;
  top: 0
  left: 0
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  transition-property: opacity
  transition-duration: 0.2s
  transition-delay: 0.1s
  @media (min-width: screen-md) {
    display: none;
  }


.mask-off
  width: 0
  opacity: 0
  height: 0

.mask-on
  height: 100%
  width: 100%
  background-color: rgba(0, 0, 0, 0.5);
