
.sidebar
  z-index: top
  width: sideBarWidth
  height: 100%
  background-color: backColor
  position: absolute
  left: 0

sidebarTopHeight = 170px
.sidebar-top
  width: 100%
  height: sidebarTopHeight
  border-bottom: 1px solid bodyColor


avatarImgWidth = 65px
.avatar-div
  padding: 10px 10px

.avatar-img
  width: avatarImgWidth
  border-radius: 50%

.name-div
  padding: 25px 10px 0

.name-h
  color: fontColor
  font-weight: 200
  font-size: 16px

.email-h
  @extend .name-h
  font-size: 14px

.sidebar-menu
  width: 100%
