<template name="MainMenu">

  {{#if Template.subscriptionsReady }}
  <div class="root">
    <div class="sidebar hideSidebar">
      <div class="sidebar-wrapper">

        <div class="sidebar-upper">
          <div class="avatar-div">
            <img class="avatar-img" src="/default_avatar.png" alt="" />
          </div>
          <div class="name-div">
            <h5 class="name-h">{{user.profile.first_name}} {{user.profile.last_name}}</h5>
            <h6 class="email-h">{{email}}</h6>
          </div>
        </div>

        <div class="sidebar-menu">
          <ul class="menu-ul">
            {{#each links}}
              <li>
                <a class="{{class}} menu-link js-menu-link" href="{{link}}">{{name}}</a>
              </li>
            {{/each}}
          </ul>
        </div>

        <div class="sidebar-organ">
          <ul class="organ-ul">
            {{#each linkOrganizations}}
              <li>
                <a class="menu-link js-organ-link" href="{{link}}">{{organization.name}}</a>
                <ul class="suborgan-ul">
                  {{#each linkOrganSub organization}}
                    <li>
                      <a class="js-link sub-link" href="{{link}}">{{name}}</a>
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>

        </div>

        <div class="sidebar-lower">

        </div>

      </div>
    </div>

    <div id="main" class="main">
      <div class="sub-main">
        {{> Template.dynamic template=main}}
      </div>
    </div>

    <div class="appbar">
      <div class="appbar-title">
        {{#each titles}}
          <a href="{{link}}" class="appbar-link">{{name}}</a>
          {{#unless last}}
            <span> - </span>
          {{/unless}}
        {{/each}}
      </div>
      <button id="js-appmenu-b" type="button" class="appmenu-b">
        <i class="appmenu-icon fa fa-bars" aria-hidden="true"></i>
      </button>
    </div>

    <div class="js-mask-app-b mask mask-off mask-media-md"></div>

  </div>



  {{/if}}

</template>
