<template name="OrganizationMenu">

<!--  Make sure to check that parent_id belongs to organization -->

  <div class="">
    {{#if organization}}
      <div class="">
        <a href="/organizations/{{organization._id}}/customers">Customers</a>
        <a href="/organizations/{{organization._id}}/events">Events</a>
        <a href="/organizations/{{organization._id}}/expenses">Expenses</a>
        <a href="/organizations/{{organization._id}}/ingredients">Ingredients</a>
        <a href="/organizations/{{organization._id}}/inventories">Inventories</a>
        <a href="/organizations/{{organization._id}}/products">Products</a>
        <a href="/organizations/{{organization._id}}/providers">Providers</a>
        <a href="/organizations/{{organization._id}}/sells">Sells</a>
        <a href="/organizations/{{organization._id}}/units">Units</a>
        <a href="/organizations/{{organization._id}}/ousers">Users</a>
        <a href="/organizations/{{organization._id}}/yields">Yields</a>
      </div>

      <br>

      {{> Template.dynamic template=subView data=subViewData}}

    {{/if}}
  </div>




</template>
