
.paper-item
  position: relative
  background-color: white
  // cursor: pointer;

.item-back
  position: absolute;
  top: 0
  bottom: 0

.item-content
  position: relative;
  background-color: transparent;
  overflow: hidden
