
.paper-item
  position: relative
  background-color: white

.item-back
  position: absolute;
  top: 0
  bottom: 0

.item-content
  position: relative;
  background-color: transparent;
  padding: 10px 10px
  overflow: hidden

.sub-test
  padding-left: 20px
