
.mCard
  min-width: 290px
  width: 330px
  max-width: 330px
  margin: 8px 8px

  .mCard-content
    &.with-bottom
      padding-bottom: 56px

    .card-bar
      background-color: #eee

    .options-b
      position: absolute;
      right: 10px
      top: 15px
      display: flex;
      background-color: transparent;
      justify-content: center;
      height: 32px
      width: 32px
      color: #757575
      border-radius: 50%

      i
        align-self: center;

  .upper
    padding: 16px 16px 0
    background-color: #eee

    .top
      display: flex
      height: 56px
      width: 100%;

      img
        flex-shrink: 0
        border-radius: 50%
        height: 48px
        width: 48px
        margin-right: 16px
        align-self: center;

      .titles

        flex-grow: 1
        align-self: center;
        max-width: calc(100% - 80px)

        .main-title
          font-size: 18px

        .sub-title
          font-size: 12px
          font-weight: 300
          color: #757575

          div
            display: inline-block;
            width: 10px
            height: 10px
            border-radius: 50%
            margin-left: 5px
            margin-bottom: -1px

            &[tracking="on"]
              background-color: black

            &[tracking="off"]
              background-color: #9E9E9E




    .upper-mid
      width: 100%

      .main
        display: flex;
        margin: 10px 0 0px;
        padding-bottom: 16px

        .info
          text-transform: capitalize;
          align-self: center;
          flex-grow: 1
          font-size: 34px


          span
            font-weight: 300
            font-size: 18px

        .sub
          font-size: 14px
          font-weight: 300
          align-self: flex-end;
          padding-bottom: 4px
          color: #757575

          .sub-unit
            margin: 5px 0 0

            .label
              font-size: 12px
              font-weight: 300
              color: #757575

            .sub-info
              font-size: 14px
              font-weight: 300
              color: black


      .fake-tab
        display: table;
        height: 48px

        .fake-tab-title
          font-size: 16px
          font-weight: 300
          display: table-cell;
          vertical-align: middle;


  .middle
    width: 100%
    background-color: white
    &[with-tabs]
      margin-top: -10px

  .bottom
    position: absolute;
    width: 100%
    bottom: 0
    min-height: 56px
    display: flex
    flex-wrap: wrap;
    align-content: center;
    padding: 0px 16px
    border-top: 1px solid #eee

  .chart-div
    min-height: 270px
    display: flex;
    flex-direction: column;
    padding: 15px 15px 5px 5px;
    width: 100%

    .chart
      flex-grow: 1


.action-button
  padding: 8px
  font-weight: 300
  font-size: 14px
  text-transform: uppercase;
  color: darkblue
  align-self: center;



.manual
  display: inline-block;
  height: 11px
  width: 11px
  margin-bottom: -1px
  border-radius: 50%

  &[manual=on]
    background-color: black
  &[manual=off]
    background-color: #9E9E9E
