.resources-b
  display: flex;
  min-width: 130px
  background-color: transparent;
  justify-content: space-between;

  & .text-div
    align-self: center;
    color: #737373
    font-weight: 300
    font-size: 17px

  & .icon-div
    align-self: center;
    display: flex;
    justify-content: center;

    & .icon
      color: #00E676
      align-self: center;
