.resources-b
  display: flex;
  min-width: 130px
  background-color: transparent;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0

  .text-div
    align-self: center;
    color: black
    font-weight: 300
    font-size: 18px



  .text-div-sm
    align-self: center;
    color: #757575
    font-weight: 300
    font-size: 16px

  .icon-div
    align-self: center;
    display: flex;
    justify-content: center;

    .icon
      color: #00E676
      font-size: 24px
      align-self: center;



.ing-info
  display: flex;
  height: 100%
  padding: 8px 0


  .amount-input
    align-self: center
    width: 100%
    margin-top: 17px;

  .ing-text
    align-self: center;
    font-weight: 300;
    color: #737373
    padding-left: 10px

    .ing-name
      font-size: 19px


  .circle-image
    width: 48px
    height: 48px
    margin-right: 18px
    // border: 1px solid black
    border-radius: 50%
    background-image:    url('/no_image0.png');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
